{% extends 'student/base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-5 img-container">
      <img class="img-thumbnail" src="/static/student/Images/" alt="Profile-img">
    </div>
    <div class="col-sm-6">
      <div class="text-box">
        <div class="title-text">
          <h3>RAEL AMOS</h3>
          <h5>University of Nairobi 2021</h5>
          <h6>Electrical and electronics engineering</h6>
        </div>
        <div class="body-text">
          <p>I built this project as part of my fifth year  project.
          I wanted to build a software solution to better manage the resources
          availabe at a warehouse, and help enhance
          accessibility. </p>
          <!-- <p>Below is the documentation for the project: </p> -->
        </div>
        <div>
          <!--  -->
        </div>
        <div class="contact-info">
        
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
